@import "utils/fonts.css";
@import "utils/vars.css";

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--mainFontSize);
  color: var(--mainFontColor);
  height: 100%;
  min-width: var(--smPhoneWidth);
}

body {
  font-family: var(--mainFont);
  font-size: var(--mainFontSize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {

}

.content-wrapper {
  font-size: 50px;
  font-weight: bold;
}
