:root {
  /* Font */
  --mainFont: "Lato-Regular", sans-serif;

  /* Size */
  --mainFontColor: var(--dark);
  --mainFontSize: 16px;
  --desktopWidth: 1172px;
  --smDesktopWidth: 1024px;
  --tableWidth: 768px;
  --smTableWidth: 640px;
  --phoneWidth: 480px;
  --smPhoneWidth: 320px;

  /* Main color */

  /* Primary */
  --default-color: #fff;
  --primary-color: #444ce0;
  --success-color: #26de81;
  --danger-color: #fc5c65;
  --warning-color: #fed330;
  --light-color: #999;
  --purple-color: #8854d0;

  /* Constant color in this project */
  --white: var(--default-color);
  --white-powder: #fffefd;
  --dark: #1a212f;
  --light-mustard: #fac663;
  --brownish-grey: #777;
  --reddish-orange: #f05b1b;
  --dusty-orange: #ff7236;
  --dark-blue: #151b28;
  --pale-orange: #ffaa50;
  --very-light-pink: #fffdfb;
  --orangeish: #ff913c;
  --black-dusty: #141312;
  --black-shadow: rgba(0, 0, 0, 0.25);
}
