:root {
  /* Font */
  --mainFont: Lato, sans-serif;
  --mainFontColor: var(--dark);
  --mainFontSize:  0.875rem;

  --border: solid 1px var(--very-light-pink-two);

  /*  Size  */
  --smDesktopWidth: 1024px;
  --tableWidth: 768px;
  --smTableWidth: 640px;
  --phoneWidth: 480px;
  --smPhoneWidth: 320px;
  --mainContainer: 1197px;
  --headerContainer: 1170px;
  --header-height: 71px;

  /*
  --cols: 1;
  --breakpoint: var(--break-at, 30rem);
  --break-at: 30rem;
  --min: min(calc(var(--breakpoint) - 100% * 999), 100%);
  --clamp: clamp(100% / var(--cols) - 15px, calc(var(--breakpoint) - 100% * 999), 100%);
  */

  /* Main COLOR */

  /* Primary */
  --default-color: #fff;
  --primary-color: #444ce0;
  --success-color: #26de81;
  --danger-color: #fc5c65;
  --warning-color: #fed330;
  --light-color: #999;
  --purple-color: #8854d0;

  /* Colors for this project */
  --white-powder: #fffefd;
  --dark: #1a212f;
  --light-mustard: #fac663;
  --brownish-grey: #777;
  --reddish-orange: #f05b1b;
  --dusty-orange: #ff7236;
  --dark-blue: #151b28;
  --pale-orange: #ffaa50;
  --very-light-pink: #fffdfb;
  --very-light-pink-two: #e1e1e1;
  --orangeish: #ff913c;
  --black-dusty: #141312;
  --black-shadow: rgba(0, 0, 0, 0.15);
  --link-hover: var(--reddish-orange);
  --link-visited: color-mod(var(--link-hover) b(60%));
}

/*
https://www.npmjs.com/package/postcss-color-mod-function
https://frontender.info/the-power-of-rgba/

The color-mod() function accepts
    rgb(),
    h() / hue(),
    a() / alpha(),
    s() / saturation(),
    l() / lightness(),
    w() / whiteness(),
    b() / blackness(),
    tint(),
    shade(),
    blend(),
    blenda(),
    contrast()
    --brand-red-dark: color-mod(red blackness(20%));
    --brand-red-hsl:  color-mod(yellow blend(red 50% hsl));
    --brand-red:      rgb(100% 50% 0% / 100%);

    .brand-faded {
      color: color-mod(var(--brand-main) a(50%));
    }

*/
